
.body-container{
    font-size: 1.2em;
    margin: 0 10vw 0 10vw;
}
.user-action-div{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    align-items: center;
}

/* Tic Tac Toe designs */
.ttt-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width:60px;
    margin: 2.5px;
    font-size: 30px;
    font-weight: 700;
    color: grey;
    font-family: emoji;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.363);
    cursor: pointer;
}
.game-board{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}